# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/

# Docker
.dockerignore

# Segmentos de video
www/html/segmentos/*.mp4
www/html/segmentos/*.mpd
www/html/segmentos/*.m4s

# Logs
*.log

# Archivos de respaldo
*.old
*.bak
*~

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
